html {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration:none;
}

body {
    background-image: url(./imagenes/montaña\ fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1920px;
}

/* header */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin: 20px;
    color: white;
}

.logo {
    height: 5rem;
    margin-right: 2rem ;
    margin-bottom: -7px;
}
.section1 {
    display: flex;
    flex-grow: 2;
    gap: 2rem;
}

header a {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
}

.a {
    cursor: pointer;
}

a:hover {
    color:rgb(168, 157, 166);
    font-weight: bold;
}

/* nav */

nav {
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    height: 2rem;
    width: 90%;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align-last: center;
}

input:hover {
    font-weight: 600;
}

i {
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
}

/* article */

.article-section1 {
    padding: 1rem;
    color: white;
    line-height: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.article-section1 h4 {
    animation-name: pulse;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transition: ease-in-out;
}

@keyframes pulse {
    0% { color: white; scale: 1.1;}
    15% { color: white; scale: 1.1;}
    30% { color: rgb(231, 58, 202); scale: 1.5;}
    45% { color: white; scale: 1.1;}
    60% { color: rgb(231, 58, 202); scale: 1.5;}
    85% { color: white; scale: 1.1;}
    100% { color: white; scale: 1.1;}
}

.article-section2 {
    margin-top: 10px;
    text-align: center;
}

article button {
    height: 2rem;
    border-radius: 0.8rem;
    font-size: 1rem;
}

.button-registro {
    background: black;
    padding: 0.5rem 2rem  ;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
}

.button-registro:hover {
    background-color: rgb(231, 58, 202);
    font-weight: bold;
    color: white;
    transition: all 0.5s 0s ease;
  }

/* aside */

aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;
}

aside img {
    height: 300px;
    width: 500px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px white;
}

aside img:hover {
    animation-name: efecto;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: ease-in-out;
}

  @keyframes efecto {
    0% { translate: 0px}
    10% { translate: 10px;}
    20% { translate: 0px;}
    30% { translate: -10px;}
    40% { translate: 0px;}
    60% { transform: rotateY(0deg)}
    100% { transform: rotateY(360deg)}
  }

/* banner */

.contenedor-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banner {
    margin-top: 5rem;
    max-width: 700px;
    width: 60%;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0px 0px 10px 5px white;
}

.texto-banner {
    padding-top: 2rem;
    max-width: 700px;
    width: 60%;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-top: 5px solid rgb(231, 58, 202, 0.8);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 0px 10px 5px white;
}

.texto-banner span {
    color: rgb(231, 58, 202);
}

.texto-banner h4,h5{
    margin: 2rem;
}


/* footer */

footer {
    color: white
}

.footer-section1 {
    margin-top: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.footer-section2 {
    margin-left: 30px;
    margin-bottom: 30px;
}

.formulario-registro{
    padding-top: 10px;
}
.enviar {
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem;
    margin-left: 5px;
    font-weight: bold;
    background-color: rgb(231, 58, 202);
    color: white;
    cursor: pointer;
}

.enviar:hover {
    background-color: rgb(235, 97, 212);
}

.footer-section3 {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Media  */

/* laptop */
@media screen and (max-width: 1280px) {
        header a {
            margin-top: 45px;
            padding: 10px;
        }

        .banner {
            width: 90%;
        }

        .texto-banner {
            width: 90%;
        }

        .footer-section1 a {
            padding: 10px;
        }

        .footer-section-quienes-somos {
            display: none;
        }

        
}

@media screen and (max-width: 824px) {
    form {
        text-align: center;
    }

    .enviar {
        margin: 1rem;
    }
}

/* ipad */
@media screen and (max-width: 730px) {
    form {
        text-align: center;
    }

    .enviar {
        margin: 1rem;
    }

    .section1{
        display: none;
    }

    .article-section1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    article h4 {
        font-size: 1.5rem;
    }

    article h1 {
        font-size: 1.5rem;
        margin-top: -10px;
    }
    
    article h5 {
        font-size: 1rem;
        margin-top: -5px;
    }

    aside img {
        width: 80%;
        height: auto;
    }

    .footer-section1 h4{
        display: block;
    }
    
    .footer-section-quienes-somos {
        display: block;
    }
    
}

/* movile */
@media screen and (max-width: 600px) {
    .section1{
        display: none;
    }

    .article-section1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    article h4 {
        font-size: 1rem;
    }
    
    article h1 {
        font-size: 1rem;
    }
    
    article h5 {
        font-size: 0.6rem;
    }

    aside img {
        width: 80%;
        height: auto;
        animation-name: efecto;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        transition: ease-in-out;
    }

    @keyframes efecto {
        0% { transform: rotateY(0deg)}
        25% { transform: rotateY(0deg)}
        75% { transform: rotateY(0deg)}
        100% { transform: rotateY(360deg)}
    }

    .imagen-aside-1 {
        animation-delay: 0s;
     }
    .imagen-aside-2 {
        animation-delay: 0.3s;
     }

    .imagen-aside-3 {
        animation-delay: 0.6s;
     }
        
    
    .footer-section1 h4{
        display: none;
    }

    .footer-section2 {
        margin: auto;
    }
    
    .footer-section2 h3 {
        text-align: center;
    }
    
    .footer-section2 ul {
        display: flex;
        flex-direction: column;
    }
    
    .footer-section2 li {
        padding: 5px;
    }
    
}
