html {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration:none;
}

body {
    background-image: url(./imagenes/montaña\ fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1920px;
}

/* header */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin: 20px;
    color: white;
}

.logo {
    height: 5rem;
    margin-right: 2rem ;
    margin-bottom: -7px;
}
.section1 {
    display: flex;
    flex-grow: 2;
    gap: 2rem;
}

.a {
    cursor: pointer;
}

a:hover {
    color: rgb(170, 166, 166)
}

/* nav */

nav {
    margin: 4rem 2rem;
}

input {
    height: 2rem;
    width: 90%;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align-last: center;
}

input:hover {
    font-weight: 600;
}

i {
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
}

/* article */

article {
    padding: 1rem;
    color: white;
    line-height: 0rem;
    font-size: 1.5rem;
    text-align: center;
}

article button {
    height: 2rem;
    border-radius: 0.8rem;
    font-size: 1rem;
}

.button-registro {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    color: #121212;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    text-align: center;
}

.button-registro:hover {
    background-color: rgb(231, 58, 202);
    font-weight: bold;
    color: white;
    transition: all 0.5s 0s ease;
  }

/* aside */

aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;
}

aside img {
    height: 300px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
}

aside img:hover {
    transform: rotateY(360deg);
    transition: all 0.8s 0s ease-in;
}

/* footer */

/* footer {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
} */

footer {
    color: white
}

.footer-section1 {
    margin-top: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.footer-section2 {
    margin-left: 20px;
}

footer p {
    justify-content: center;
}
